# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
# lib64/
!frontend/lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/

# Next.js & Frontend
node_modules/
frontend/node_modules/
.next/
frontend/.next/
frontend/out/
frontend/build/
.DS_Store
*.pem

# Database
*.db
!churnguard.db
*.sqlite3
pgdata/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
